// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

$teaser_width: 5308px;
$teaser_height: 2636px;
$wanted_teaser_height: 1000px;

.teaser {
  background-image: image-url('teaser.jpg');
  background-size: $teaser_width/$teaser_height*$wanted_teaser_height 100%;
  background-repeat: no-repeat;
  height: $wanted_teaser_height;
  width: 100%;
  background-position: center;
}

.title-text {
  margin-top: 240px;
  margin-left: 650px;
  width: 600px;
}
.title-text h1 {
  color: #9d9d9d;
}
.title-text p {
  margin-top: 50px;
  color: #909090;
}

.teaser-icon {
  font-size: 16em;
}