// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
}

$teaser_width: 5308px;
$teaser_height: 2636px;
$wanted_teaser_height: 1000px;

.teaser {
  background-image: image-url('teaser.jpg');
  background-size: $teaser_width/$teaser_height*$wanted_teaser_height 100%;
  background-repeat: no-repeat;
  height: $wanted_teaser_height;
  width: 100%;
  background-position: center;
}

.title-text {
  margin-top: 220px;
  margin-left: 650px;
  width: 600px;
}
.title-text h1 {
  color: #9d9d9d;
  margin-bottom: 50px;
}
.title-text p {
  margin-top: 30px;
  color: #909090;
}

.teaser-icon {
  font-size: 200px;
}
.teaser-icon-smaller {
  font-size: 200px;
}
footer {
  height: 50px;
  color: white;
  text-align: right;
}
.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.github-ribbon {
  position: absolute;
  z-index: 2000;
  top: 0;
  right: 0;
  border: 0;
}
.form-success-small {
  @extend .lead;
  color: green;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-error-small {
  @extend .lead;
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbar {
  margin-bottom: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-1 {
  @extend .section;
  background: white;
}

.section-2 {
  @extend .section;
  background: #dbdbdb;
}

.footer {
  background: black;
}