// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: black;
}

$teaser_width: 5308px;
$teaser_height: 2636px;
$wanted_teaser_height_md: 1000px;

$is-xs: "(max-width: #{$screen-xs-max})";
$is-min-sm: "(min-width: #{$screen-sm-min})";
$is-max-sm: "(max-width: #{$screen-sm-max})";
$is-sm: "#{$is-min-sm} and #{$is-max-sm}";
$is-min-md: "(min-width: #{$screen-md-min})";
$is-max-md: "(max-width: #{$screen-md-max})";
$is-md: "#{$is-min-md} and #{$is-max-md}";
$is-lg: "(min-width: #{$screen-lg-min})";

#fb-like {
  margin-top: 15px;
}

.teaser-md {
  position: relative;
  height: $wanted_teaser_height_md;
  width: 100%;
  overflow-x: hidden;
}
.teaser-md .teaser-content {
  position: absolute;
  right: 0px;
  height: $wanted_teaser_height_md;
  width: $teaser_width/$teaser_height*$wanted_teaser_height_md;
}
.teaser-md .teaser-img {
  position: absolute;
  width: $teaser_width/$teaser_height*$wanted_teaser_height_md;
  height: $wanted_teaser_height_md;
  background-size: $teaser_width/$teaser_height*$wanted_teaser_height_md $wanted_teaser_height_md;
  background-image: image-url('teaser.jpg');
  background-repeat: no-repeat;
}
.teaser-md .title-text {
  position: absolute;
  margin-top: 220px;
  margin-left: 1080px;
  width: 600px;
}
.teaser-md .title-text h1 {
  color: #a8a8a8;
  margin-bottom: 50px;
}
.teaser-md .title-text p {
  margin-top: 60px;
  color: #989898;
}

.teaser-sm {
  margin-top: 0px;
  background-color: #2E2F30;
}
.teaser-sm .teaser-content {
  margin-left: 15px;
  margin-right: 15px;
}
.teaser-sm .title-logo {
  margin-top: -20px;
  font-size: 100px;
  color: #909090;
}
.teaser-sm .title-text h1 {
  color: #bababa;
}
.teaser-sm .title-text p {
  margin-top: 30px;
  margin-bottom: -20px;
  color: #b0b0b0;
}

.bulletpoint-icon {
  @media #{$is-min-md} {
    font-size: 200px;
  }
  @media #{$is-max-sm} {
    font-size: 150px;
  }
}
.bulletpoint-icon-smaller {
  @media #{$is-min-md} {
    font-size: 200px;
  }
  @media #{$is-max-sm} {
    font-size: 150px;
  }
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.github-ribbon {
  position: absolute;
  z-index: 2000;
  top: 0;
  right: 0;
  border: 0;
}
.form-success-small {
  @extend .lead;
  color: green;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-error-small {
  @extend .lead;
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-spinner-small i {
  color: #909090;
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbar {
  margin-bottom: 0;
}
.navbar-container {
  padding-right: 140px;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-small {
  padding-top: 25px;
  padding-bottom: 25px;
}
.section-1 {
  background: white;
}
.section-2 {
  background: #dbdbdb;
}

footer {
  height: 50px;
  color: white;
}
.footer {
  background: black;
}

#downloadModal .os-box {
  margin-top: 10px;
  text-align: center;
}

#downloadModal .os-box .os-name {
  vertical-align: middle;
  font-size: x-large;
}

#downloadModal .tab-content {
  margin-top: 20px;
}

#downloadModal .distribution-table {
  margin-top: 10px;
}